// Font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

// Variables
$primaryColor: #ff9400;
$secondaryColor: #aabde6;
$tertiaryColor: #c5abdc;
$textColor: #393c43;

// Mixin
@mixin tombol {
  display: inline-block;
  color: white;
  background-color: $primaryColor;
  border-radius: 2em;
  padding: 0.5em 2em;
  text-decoration: none;
}

// Styles
body {
  font-family: "Montserrat", sans-serif;
  &::before {
    content: "";
    background-image: url(../img/bg2.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 60vmax;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @media screen and (max-width: 992px) {
      opacity: 0.4;
    }
  }
}

// Navbar
.custom-nav {
  .navbar-brand {
    img {
      height: 1.8em;

      // width: 90px;
      // height: 33px;
      // margin-top: -7px;
    }
    span {
      color: $primaryColor;
      font-weight: 700;
      font-size: 1.4rem;
      margin-left: 0.4em;
    }
  }

  #navbarNav {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: white;
          font-weight: 500;
          text-transform: uppercase;
          margin-left: 2.4em;
          transition: 0.3s color ease;
          &:hover {
            color: darken($primaryColor, 30%);
          }
        }

        .sign-up-button {
          @include tombol;
          border: 1px solid transparent;
          transition: 0.5s ease;
          &:hover {
            color: $primaryColor;
            border: 1px solid $primaryColor;
            background-color: transparent;
          }
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    margin-top: -1em;
  }
}

// custom section
.custom-section {
  margin-top: 10em;
  position: relative;

  h2 {
    font-weight: 700;
    font-size: 4rem;
    color: $primaryColor;
    white-space: nowrap;
    line-height: 1;
  }

  h3 {
    font-weight: 700;
    font-size: 3rem;
    color: $secondaryColor;
    white-space: nowrap;
    line-height: 1;
  }

  p {
    color: $textColor;
    font-size: 1.1rem;
    margin-top: 2em;
  }

  a {
    margin-top: 2.2em;
    @include tombol;
    border: 1px solid transparent;
    transition: 0.5s ease;

    &:hover {
      color: $primaryColor;
      border: 1px solid $primaryColor;
      background-color: transparent;
    }
  }

  @media screen and (max-width: 992px) {
    margin-top: 3em;
    text-align: center;
    h2,
    h3,
    p {
      text-shadow: 1px 1px 2px rgba($textColor, 0.3);
    }
    h3 {
      color: lighten($textColor, 10%);
    }
  }
}

// About Section
.about-section {
  margin-top: 8em;

  img {
    height: 35em;
  }

  h3 {
    font-weight: 700;
    font-size: 3rem;
    color: $primaryColor;
  }

  p {
    color: $textColor;
    font-size: 1.1rem;
    margin-top: 2em;
  }

  a {
    margin-top: 2.2em;
    @include tombol;
    &:hover {
      color: $primaryColor;
      border: 1px solid $primaryColor;
      background-color: transparent;
    }
  }
}

// Gallery Section
.gallery-section {
  margin-top: 8em;
  h3 {
    font-weight: 700;
    font-size: 3rem;
    color: $primaryColor;
    text-align: center;
  }

  p {
    color: $textColor;
    font-size: 1.1rem;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

// Footer Section
.footer-section {
  margin-top: 8em;
  img {
    height: 5em;
    margin-top: 20px;
  }

  h3 {
    font-weight: 700;
    font-size: 1.3rem;
    color: $textColor;
  }

  ul {
    li {
      list-style-type: none;
      margin-left: -29px;
      color: $textColor;
      font-weight: 500;
      font-size: 0.9rem;
    }
    a {
      text-decoration: none;
      color: $textColor;
      &:hover {
        color: $primaryColor;
      }
    }
  }

  .naruto-desc {
    color: $textColor;
    font-weight: 500;
    font-size: 0.7rem;
  }
}
